*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #dcdbd2;
}

#loading{
    background-color: rgb(226 255 201);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
}
#loading > i{
    color:#077367;
    font-size: 60px;
}
#loading span{
    color:#077367;
    font-size: 11px;
}
#loading span i{
    color:#077367;
    font-size: 11px;
}

.bg-container1{
    height: 30vh;
    background-color: #009688;
    position: relative;
}
.bg-container2{
    position: relative;
    top: 30vh;
    /* height: 70vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #dcdbd2; */
}
.container{
    position: absolute;
    top: -30vh;
    padding: 18px 0;
    /* margin-bottom: 30vh; */
    width: 80%;
    height: 743px;
    display: flex;
}
.container-mobile{
    display: none;
}

header{
    height: 8%;
    background-color: #eaeaea;
    border-right: 1px solid #b1b1b1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}
i{
    font-size: 17px;
    color: #b1b1b1;
}
.sect-head-i i{
    margin-left: 10px;
    font-size: 17px;
    color: #b1b1b1;
}
.img-avatar{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
}
.img-avatar-header.img-avatar{
    width: 45px;
    height: 45px;
}

/* SECTION LEFT */
.sect-left{
    width: 35%;
}

.header-left{
    border-right: 1px solid #b1b1b1;
}

.main-left{
    height: 92%;
}

/* nav */
nav{
    height: 16%;
    background-color: white;
}
    .notifications{
        height: 60%;
        background-color: #8edafc;
        display: flex;
        align-items: center;
    }
        .notifications i{
            font-size: 18px;
            color: #8edafc;
            background-color: white;
            padding: 12px 10px;
            border-radius: 100px;
            margin: 10px;
        }
        span a{
            font-size: 12px;
        }
    .search{
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fafafa;
    }
        .search input{
            font-size: 11px;
            padding: 0 10px;
            border-radius: 0 5px 5px 0;
            border: 0;
            height: 80%;
            width: 90%;
            margin-right: 6px;
        }
        .search i{
            font-size: 13px;
            height: 80%;
            line-height: 33.3px;
            padding: 0 10px;
            background-color: white;
            border-radius: 5px 0 0 5px;
            margin-left: 6px;
            border-right: 1px solid #eaeaea;
        }

/* ul */
ul.contacts-list{
    height: 84%;
    overflow-y: auto;
}
    .contacts-list li{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        height: 12%;
        background-color: white;
        border-bottom: 1px solid #eaeaea;
        text-decoration: none;
        cursor: pointer;
    }
    .contacts-list li:hover{
        background-color:#eaeaea;
        border-bottom: 1px solid #eaeaea;
    }
    .img-name-contact{
        display: flex;
    }
        .contact img{
            margin: 0 15px;
        }
        .contact-middle{
            align-self: baseline;
            /* margin-top: 8px;
            width: 200px;
            margin-right: 30px; */
        }
        .name-contact{
            color: black;
            margin-bottom: 3px;
        }
        .last-mess{
            color: #b1b1b1;
            font-size: 11px;
        }
        .last-date{
            color: #b1b1b1;
            font-size: 10px;
            margin-top: 9px;
            margin-right: 15px;
            text-align: right;
            align-self: baseline;
        }



/* SECTION RIGHT */
.sect-right{
    width: 65%;
}

/* header RIGHT */
.last-access{
    color: #b1b1b1;
    font-size: 10px;
}

/* main RIGHT */
.main-right{
    height: 84%;
    background-image: url(img/mine.jpg);
    overflow-y: auto;
    padding: 20px 12px 0;
}
    .chat-mess{
        /* font-size: 13px;
        margin-bottom: 10px;
        padding: 8px 7px;
        border-radius: 5px; */
        display: none;
    }
    .chat-mess.active{
        max-width: 85%;
        font-size: 13px;
        margin-bottom: 10px;
        padding: 8px 7px;
        border-radius: 10px;
        display: table;
    }
    .green-mess{
        background-color: rgb(226 255 201);
        margin-left: auto;
    }
    .white-mess{
        background-color: white;
        margin-right: auto;
    }
    .chat-date{
        color: #b1b1b1;
        font-size: 10px;
        margin-left: 30px;
        position: relative;
        margin-bottom: 4px;
        bottom: -9px;
        float: right;
    }

/* footer RIGHT */
.footer-right{
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3eeea;
}
    .footer-right input{
        padding: 0 10px;
        border: 0;
        border-radius: 5px;
        width: 75%;
        height: 72%;
    }
    .footer-right i{
        margin: 0 41px;
        font-size: 19px;
        color: grey;
    }



@media screen and (max-width: 500px) {
    .bg-container1{
        display: none;
    }
    
    .container-mobile{
        display:  block;
    }

    
    header{
        color: white;
        background-color: rgb(5 94 84);
    }

    .signature{
        font-size: 10px;
        margin-left: 7px;
    }


    /* section right */
    .sect-right{
        width: 100%;
    }

    .header-right{
        /* position: fixed;
        width: 100%;
        z-index: 100;
        top: 0; */
        padding: 8px 10px 7px 8px;
    }
    .header-right section{
        margin: 0;
    }
    .go-back i{
        color: white;
        padding: 4px 3px;
        border-radius: 50px;
        cursor: pointer;
    }
    .go-back i:hover{
        background-color: #077367;
    }

    .img-avatar-header.img-avatar {
        margin-left: 5px;
    }
    #name-contact-right{
        color: white;
    }

    .main-right{
        height: 85vh;
        margin-bottom: 59.64px;
        overflow-y: scroll;
    }
    #sect-chat-list{
        display: block;
    }
    #sect-chat-mess{
        display: none;
    }

    /* section left */
    .sect-left{
        width: 100%;
        height: 100vh;
    }

    .header-left{
        font-size: 17px;
    }
    
    .sect-head-i{
        gap: 20px;
    }
    .sect-head-i i{
        font-size: 17px;
        color: white;
    }

    .archive{
        color: black;
        height: 50%;
        background-color: white;
        display: flex;
        align-items: center;
    }
        .archive i{
            color: #009688;
            background-color: unset;
            font-size: 18px;
            padding: 12px 10px;
            border-radius: 100px;
            margin: 10px;
        }

    .search{
        height: 50%;
    }
    .search i{
        line-height: 43.9px;
    }


    .footer-right{
        position: fixed;
        z-index: 100;
        bottom: 0;
        width: 100%;
        gap: 3%;
        justify-content: center;
        background-color: #f3eeea;
    }
        .footer-right input{
            width: 65%;
            border-radius: 50px;
        }
        .footer-right i{
            margin: 0;
            font-size: 19px;
            color: grey;
        }
        .footer-right i:first-of-type{
            margin-left: 3%;
        }
        .footer-right i:last-of-type{
            margin-right: 3%;
        }
        i.fa-paper-plane{
            color: #077367;
            cursor: pointer;
        }
        i.fa-paper-plane:hover{
            color: #009688;
        }
}